# Copy this file to .env (for `vercel dev` locally) and/or set it as an
# Environment Variable in your Vercel Project Settings.
#
# Get this from your Neon project dashboard -> Connection Details.
# Use the "pooled connection" string.
DATABASE_URL="postgresql://<user>:<password>@<host>/<database>?sslmode=require"
